<header class="student-header">

 <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link " href="#">Active</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>

</ul>
</header>
<section class="main-tp">

<section class="left-profile">
 	<div class="profile-box">
    <h3 style="font-size: 40px; margin-left: -500px;">Your Profile</h3>
    <div class="card" style="width: 25rem;">
  <img src="\profile.png" class="card-img-top  resize" alt="...">
 	<ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="higlight">Name:</span><%= @teacher.name %></li>
    <li class="list-group-item"><span class="higlight">Department:</span><%= @teacher.department %></li>
    <li class="list-group-item"><span class="higlight">Areas of interest:</span><%= @teacher.ai1 %>,<%= @teacher.ai2 %>,<%= @teacher.ai3 %></li>
    <li class="list-group-item"><span class="higlight">Email:</span><%= @teacher.email %></li>
    <li class="list-group-item"><span class="higlight">Qualifications:</span> <%=@teacher.degree %></li>
  </ul>
</div>
</div>
 </section>
 <section class="right-requests">
  <div class="neatrequest">
 	<% @requests.each do |request| %>
   <div class="completed-requests">
<% if defined? RequestPending.find_by(reuest_id: request.id).status !=nil%>

    <ul class="list-group">
 		<li class="list-group-item  requestarrange" >
    <button type="button " class="btn btn-info  requestinfo"><a href="/home/view/<%= request.id %>">view request</a></button>
    <h5 style="padding-left:25px;">Completed Request</h5>
  </li>
   </ul>
  </div>

  <%else%>
  <div class="pending-requests">

   <ul class="list-group">
 		<li class="list-group-item  requestarrange" >
    <button type="button " class="btn btn-danger  requestinfo"><a href="/home/view/<%= request.id %>">view request</a></button>
    <h5 style="padding-left:25px;">Pending Request</h5>


  </li>
   </ul>
</div>
  <%end%>

<% end %>
</div>
 </section>
</section>
