 <header>
 	<nav class="navbar navbar-light bg-light">
 		 <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/home/student_dashboard/<%= @student.id %>">Go Back</a></button>


</nav>
 </header>
 <section class="main-tp">

 <section class="teacherpro">

 <div id="teacher-list">
  <input   class="search form-control mr-sm-2" placeholder="Search" />
<ul class="list">
 	<% @teachers.each do |teacher| %>
      <li><h3 class="name"><a href="/home/teachers/<%=teacher.id %>"><%= teacher.name %></a></h3></li>
      <li><h3 class="name">abcd</h3></li>
 	<% end %>
 </ul>
<div>
 </section>


 <section class="seniorpro">

 <div class="users">
<ul class="list">
 	<% @seniors.each do |senior| %>
      <li><h3 class="born"><a  href="/home/seniors/<%=senior.id %>"><%= senior.name %></h3></a></li>

 	<% end %>
 </ul>
</div>
 </section>
<section>


<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>


var options = {
    valueNames: [ 'name']
};


var teacherlist = new List('teacher-list', options);
</script>
