<section class="mainsec">
<section class="requestdetails">
  <div class="meetdet">
<h3>Request from <%=@requestedstudent.name%></h3>
<h3>Department:<%=@requestedstudent.department%></h3>
<div>
 	<ul class="list-group">
    <li class="list-group-item"><span style="font-size: 25px" class="higlight">Title:</span><span class="markit"><%= @studentrequest.title %></span></li>
    <li class="list-group-item"><span style="font-size: 25px" class="higlight">Body:</span><span class="markit"><%= @studentrequest.body %></span></li>

  </ul>
</div>
</div>



</section>
<%  if defined? @requeststatus.status ==nil %>
<section class="meetingdetails">
<div class="meetdet">
<h3>Status Details</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="higlight">Status:</span><%= @requeststatus.status %></li>
    <li class="list-group-item"><span class="higlight">Meeting Date:</span><%= @requeststatus.meetingdate %></li>
    <li class="list-group-item"><span class="higlight">Meeting time:</span><%= @requeststatus.meetingtime %></li>
    <li class="list-group-item"><span class="higlight">Comments:</span><%= @requeststatus.comments %></li>
  </ul>
  </div>
  </section>
<% else %>
<section class="meetingdetails ">

<div class="accordion  makingboxy" id="accordionExample">
  <div class="card boxy">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Accept and SetDate
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <form action="/home/view/<%=@studentrequest.id%>" method="POST">
 	<div>
 	<div><h1>Response It</h1></div>
 	<div class="form-group">
 		<label>Set Date</label>
 		<input class="form-control col-md-6" type="date" name="date">
 	</div>

 	<div class="form-group">
 		<label>Set Time</label>
 		<input type="text" class="form-control" name="time">
 	</div>
 	<div class="form-group">
 		<label>Comments</label>
 		 <textarea class="form-control" id="exampleFormControlTextarea1" name="comments" rows="3"></textarea>
 	</div>

 		<input type="submit" class="form-control" name="Submit">
 	</div>
 </form>
      </div>
    </div>
  </div>
  <div class="card boxy">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-danger collapsed"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Decline and Comment
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <form action="/home/view/<%=@studentrequest.id%>" method="POST">
 	<div>
 	<div><h1>Response It</h1></div>

 	<div class="form-group">
 		<label>Comments</label>
 		 <textarea class="form-control" id="exampleFormControlTextarea1" name="comments" rows="3"></textarea>
 	</div>

 		<input type="submit" class="form-control" name="Submit">
 	</div>
 </form>
      </div>
    </div>
  </div>
</div>


</section>
<% end %>
</section>
